<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="blogMapper">

	<resultMap id="blogResultSet" type="BlogPost">
		
	</resultMap>
	
	<insert id="addBlogPost">
		INSERT INTO BLOG_POST( POST_ID
						 , TITLE
						 , CONTENT
						 , CREATED_AT
							)
		VALUES ( SEQ_PNO.NEXTVAL
			   , #{title}
			   , #{content}
			   , SYSDATE
				)					
	</insert>

</mapper>
