#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center hr { width:50%; margin-top:2%; }

.addresspage {
    justify-content: center;
    align-items: center;
    
}

